@font-face {
    src: url('../fonts/Caveat-Bold.ttf');
    font-family: 'Caveat';
}

body {
    background: rgb(204, 204, 204);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
    width: 21cm;
    height: 29.7cm;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}

.header {
    height: 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

li {
    list-style: none;
}

.info {
    font-size: 0.85em;
    margin-left: 5px;
    background-color: rgb(215, 221, 221);
    padding: 5px;
    opacity: 0.8em;
    border-radius: 4px;
}

.info li {
    line-height: 1.2em;
}

.logo h1 {
    font-family: 'Caveat';
    padding-bottom: 10px;
}

.qr img {
    width: 60px;
    height: 60px;
}


/* BEGIN */

.qr {
    padding-right: 3px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.qr-value {
    height: 60px;
    writing-mode: vertical-rl;
    font-size: x-small;
    line-height: 1em;
}


/* (1ST)END */

.content {
    height: 1051px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-item {
    display: flex;
    flex-direction: column;
    width: 99.21px;
    height: 262.75px;
    border: dotted 1px rgb(235, 234, 234);
    background-color: #39ac73;
    text-align: center;
}

.credit-header {
    height: 62px;
    font-family: 'Caveat';
    font-weight: bold;
    font-size: 1.3em;
}

.credit-header .price {
    font-size: 1.4em;
}

.credit-body {
    height: 200.75px;
    writing-mode: vertical-rl;
}

.code {
    height: 150px;
    margin: auto 0;
    margin-right: 10px;
    margin-left: 3px;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px;
}

.credit-help {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.7em;
}

.credit-help a {
    color: #fff;
}


/* (2ND) BEGIN */

.logo-text {
    color: rgb(228, 46, 46);
}


/* END */

.credit-footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.6em;
}