<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
        "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <title>Kredym</title>
</head>

<body>
<page size="A4">
    <div class="header">
        <div class="info">
            <li>Distributeur : <span th:text="${context.getDistributor()}"/></li>
            <li>Date de commande : <span th:text="${context.getCreationDate()}"/></li>
            <li>Séquence :
                <span th:text="${context.getSequence()}"/>/<span th:text="${context.getSequenceMax()}"/>
            </li>
            <li>Prix : <span th:text="${context.getAmountInMga()}"/> Ar</li>
        </div>
        <div class="logo">
            <h1><span class="logo-text">Kredym</span></h1>
        </div>
        <div class="qr">
            <div class="qr-value"><span th:text="${context.getId()}"/></div>
            <div class="qr-code"><img src="assets/img/qr.png" alt="qr code"/></div>
        </div>
    </div>
    <div class="content">
        <div class="grid-container">
            <div class="grid-item" th:each="topping: ${context.getToppings()}">
                <div class="credit-header">
                    <p>
                        <span class="logo-text">Kredym</span><br/>
                        <span class="price"><span th:text="${topping.getAmountInMga()}"/> Ar</span>
                    </p>
                </div>
                <div class="credit-body">
                    <div class="code">
                        <p><span th:text="${topping.getCode()}"/></p>
                    </div>
                    <div class="credit-help">
                        <p>Pour recharger, envoyer le code<br/>à la page <img src="assets/img/facebook-logo.png"
                                                                              alt="facebook-logo"
                                                                              style="width: 10px; height: 10px;"/>
                            Kredym<br/>
                            <a>www.facebook.com/Kredym</a></p>
                    </div>
                </div>
                <div class="credit-footer">
                    <p>Date d'expiration<br/><span th:text="${topping.getExpirationDate()}"/></p>
                </div>
            </div>
        </div>
    </div>
</page>
</body>

</html>
